
<div>
    <h1>Softtek</h1>
    <p>Softtek es una empresa líder en servicios de tecnología de la información y soluciones de negocio. 
        Fundada en 1982, Softtek tiene su sede en Monterrey, México, y se ha expandido para 
        convertirse en una de las principales empresas de servicios de TI en América Latina y el mundo. 
        Con operaciones en más de 30 países y un equipo de profesionales altamente calificados, Softtek 
        ofrece una amplia gama de servicios, incluyendo consultoría, desarrollo de software, gestión de 
        aplicaciones, pruebas de calidad, infraestructura de TI y soluciones de negocio basadas en tecnología. 
        La empresa se enfoca en ayudar a sus clientes a aprovechar al máximo la tecnología para lograr sus 
        objetivos 
        empresariales y mantenerse competitivos en un mercado global cada vez más digitalizado.</p>
</div>

